<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="shortcut icon" href="#">
        <meta charset="utf-8">
        <title>Test</title>

    </head>

    <body>

        <header>
            <div class="">
                <img src=".assets/static/logo.jpg" alt="logo">
            </div>
        </header>

        <main>
            <section>
                <form">
                    <input id="link" type="text" name="input" value="" placeholder="Name">
                    <button id="generate" type = "submit"> Generate </button>
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <table style="width:100%">
                        <tr>
                          <th><strong>Agreement</strong></th>
                          <th><strong>Subjectivity</strong></th>
                          <th><strong>Confidence</strong></th>
                          <th><strong>Irony</strong></th>
                        </tr>
                        <tr>
                          <td id="A"></td>
                          <td id="S"></td>
                          <td id="C"></td>
                          <td id="I"></td>
                        </tr>
                    </table>
                </div>
            </section>
        </main>

        <footer>
            <p>Project One</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
        

    </body>

</html>
